<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">General</h5>

    <div class="gf-form">
      <label class="gf-form-label width-10">Name Components</label>
        <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.nameComponents" ng-change="ctrl.render()"/>
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-10">Decimals</label>
        <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.decimals" ng-change="ctrl.render()" >
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Columns</h5>

    <div class="gf-form" ng-repeat="column in ctrl.panel.columns">
      <label class="gf-form-label">Title</label>
      <input type="text" class="input-small gf-form-input width-10" ng-model="column.title" ng-change="ctrl.render()"/>

      <label class="gf-form-label">Regex</label>
      <input type="text" class="input-small gf-form-input width-10" ng-model="column.regex" ng-change="ctrl.render()"/>

      <gf-form-switch class="gf-form" label="Date" checked="column.showDate" on-change="ctrl.render()"/>

      <label class="gf-form-label">Units</label>
      <div class="dropdown width-10" ng-model="column.format" dropdown-typeahead2="ctrl.unitFormats" dropdown-typeahead-on-select="ctrl.onEditorFormatSelect($subItem, column)"/>

      <label class="gf-form-label">
        <a class="pointer" ng-click="ctrl.onEditorRemoveColumnClick($index)">
          <i class="fa fa-trash"/>
        </a>
      </label>
		</div>

    <div class="gf-form">
      <label class="gf-form-label">
        <a class="pointer" ng-click="ctrl.onEditorAddColumnClick()">
          Add Column
        </a>
      </label>
    </div>
  </div>
</div>
